<navbar class="general-font">
    <a href="/">Home</a>
    <form method="POST" action="/logout">  
        <button class="btns">Log Out</button>
    </form>
  </navbar>

 

<h1 class="subtitle-font">Profile</h1>
    

<h2 class="subtitle-font">Hello <span class="user-caps"><%= user.user %>!</span></h2>

<div class="general-font">
<a href="/books/add-book">Add new book</a>
<a href="/books/read">Read books</a>
<a href="/books/unread">Unread books</a>
</div>
<p><%= usersBooks.createdBy %></p>
<% usersBooks.forEach(element => { %>
 <div style="border: solid 1px black;" class="general-font">
    <h3><%= element.bookTitle %></h3>
    <p>Author: <%= element.author %></p>
    <p>Genre: <%= element.genre  %></p>
    <p><%= element.read %></p>
    <a href="/books/update-book/<%= element._id %>">Update</a>
    <a href="/books/delete-book/<%= element._id %>" onclick="return confirm('Are you sure you want to delete this book?');">Delete</a>
 </div>
<% }) %>
