<h1>Profile page</h1><form method="POST" action="/logout">
    <button id="logOutButton">Log Out</button>
</form>
<h2>Hello <span class="user-caps"><%= user.user %></span></h2>

<a href="/books/add-book">Add new book</a>
<a href="/books/update-book">Update a book</a>
<a href="/books/delete-book">Delete a book</a>

<% usersBooks.forEach(element => { %>
 <div style="border: solid 1px black;">
    <h3><%= element.bookTitle %></h3>
    <p><%= element.author %></p>
    <p><%= element.genre  %></p>
    <p><%= element._id %></p>
   <a href="/books/update-book/<%= element._id %>">Update</a>
    <button><a href="/books/delete-book/<%= element._id %>">Delete</a></button>
 </div>
<% }) %>