<navbar class="general-font" id="profile-navbar">
  <div id="navbar-leftitems">
      <a href="/">Home</a>
      <img src="\images\cockroachcircle.png" id="profile-img">
      <h2 id="profile-user" class="subtitle-font">Hello, <span class="user-caps"><%= user.user %>!</span></h2>
  </div>
  <div>
    <form method="POST" action="/logout">  
      <button class="btns">Log Out</button>
    </form>
  </div>
</navbar>

<div class="general-font" id="profile-buttons">
  <a href="/books/add-book">Add new book</a>
  <a href="/books/read">Read books</a>
  <a href="/books/unread">Unread books</a>
</div>

<div id="book-box-parent">
  <% usersBooks.forEach(element => { %>
  <div style="border: solid 1px #737373;" class="general-font" id="book-box-middle">
    <div id="book-box-child">
      <h3><%= element.bookTitle %></h3>
      <p>Author: <%= element.author %></p>
      <p>Genre: <%= element.genre  %></p>
      <p>Read: <%= element.read %></p>
    </div>
    <div id="book-box-buttons">
      <a href="/books/update-book/<%= element._id %>">Update</a>
      <a href="/books/delete-book/<%= element._id %>" onclick="return confirm('Are you sure you want to delete this book?');">Delete</a>
    </div>
  </div>
  <% }) %>
</div>

